<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>  
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<body>
    <div class="container">
      <h2>Contact Us</h2>
      <form action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="b311fd73-d510-4db6-a0d9-bc304e882eae">

        <!-- <input class="name" type="text" name="name" placeholder="Enter Your Name" required> -->
        <div class="name">
            <input type="text" name="name" placeholder="Your Name" required>
        </div>

        <!-- <input type="email" placeholder="Enter Your Email" required> -->
        <div class="email">
            <input type="text" name="email" placeholder="Your email">
        </div>
        
        <div class="msg">
            <input type="text" name="message" placeholder="Your Message" >
        </div>
        <hr>
        <br>
        

        <div class="submit"><button type="submit">SUBMIT</button>
        <div class="getback"><a href="home"><h5>HOME</h5></a></div>
    
        <div class="social">
          <span style="text-align: center;">Follow Us:</span>
          <br>
          <a class="logo" href="https://x.com/Polo131171" target="_blank"><img width="40" height="40" src="https://img.icons8.com/ios-filled/40/twitterx--v1.png" alt="twitterx--v1"/></a>
          <a class="logo" href="https://www.instagram.com/ansul_halami?igsh=MThqajY1eHYyeTBlcg==" target="_blank"><img width="40" height="40" src="https://img.icons8.com/ios-glyphs/30/instagram-new.png" alt="instagram-new"/></a>
          <a class="logo" href="https://www.linkedin.com/in/ansul-halami-19475b197?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img width="40" height="40" src="https://img.icons8.com/ios-glyphs/30/linkedin.png" alt="linkedin"/></a>
        </div>
        
      </form>
      
    </div>

</body>
</html>