<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/extra.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <img src="/images/techno.jpeg" width="200px" height="200px" alt="">
            <p style="font-size: 1.5vw; font-weight: bolder; letter-spacing: 0.1vw;">TECHNOVANZA</p>
            <!-- <p style="font-size: 1vw; font-weight: bolder; letter-spacing: 0.1vw;">Operation Executive And PR Team 6 Months</p> -->
            <p>• Operation Executive: Led a team in planning and executing a successful college event, scheduling, and vendor relations to ensure a smooth event flow.</p>
            <p>• Public Relations: Developed and implemented a comprehensive PR strategy, leveraging social media and campus networks to increase event visibility</p>
        </div>
        <div class="card2">
            <img src="/images/Rangawardhan.jpg" width="200px" height="200px" alt="">
            <p style="font-size: 1.5vw; font-weight: bolder; letter-spacing: 0.1vw;">RANGAWARDHAN</p>
            <p>Execution team, Marketing team, Sponsor team (Randgawardhan) 6 Months</p>
                <p>• Worked as event manager in the student body that preserves our Marathi culture and tradition of Maharashtra.</p>
                <p>• Head of Events (was an Event Head for many competitions which were held in university)</p>
        </div>
        <div class="card3">
            <img src="/images/aero.jpeg" width="200px" height="200px" alt="">
            <p  style="font-size: 1.5vw; font-weight: bolder; letter-spacing: 0.1vw;">AERO VJTI</p>
            <p>Aquila Workshop</p>
                <p>• Studied about aerodynamics how air interacts with objects, like planes, as they move through it. It’s like
                figuring out the best way to design planes so they can fly smoothly and efficiently Model Assembly of
                Aircraft using some basic instruments.</p>
        </div>
      </div>
</body>
<%- include('../components/footer'); -%>
</html>