<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
        <div class="ti">
            <img src="/images/WhatsApp Image 2024-07-26 at 23.38.22_57084c8d.jpg" width="350px" height="420px">
            <div class="text">Ansul D Halami</div>
            <div class="prof">Web Developer</div>
        </div>
</body>
<%- include('../components/footer'); -%>
</html>