<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/project.css">
</head>
<body>
    <h1 style="font-family:Georgia, 'Times New Roman', Times, serif ; letter-spacing: 0.2vw;; text-align: center; font-weight: bolder; font-size:3.5vw; color: rgb(255, 255, 255); text-shadow: 0px 15px 10px #020202;">PROJECTS</h1>

    <div class="container">
        <div class="box">
            <div class="content">
                <h2>Taj Mahal</h2>
                
                <p class="type">Check</p>
                <div class="about">
                    The Taj Mahal is an ivory-white marble mausoleum on the right bank of the river Yamuna in Agra, Uttar Pradesh, India. It was by the fifth Mughal emperor.
                </div>
                <div class="ticketFees"><span>Ticket Fees :</span> Rs.1,000</div>
            </div>
        </div>
        <div class="box" id="box2">
            <div class="content">
                <h2>Sri Harmandir Sahib</h2>
                
                <p class="type">Check</p>
                <div class="about">The Golden Temple is a gurdwara located in the city of Amritsar, Punjab, India. It is the pre-eminent spiritual site of Sikhism.</div>
                <div class="ticketFees"><span>Ticket Fees :</span> Free</div>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>India Gate</h2>
                
                <p class="type">Check</p>
                <div class="about">The India Gate is a war memorial located near the Kartavya path on the eastern edge of the "ceremonial axis" of New Delhi, formerly called Rajpath.
                </div>
                <div class="ticketFees"><span>Ticket Fees :</span> Rs.500</div>
            </div>
        </div>
    </div>
</body>
<%- include('../components/footer'); -%>
</html>