<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKILLS</title>
    <link rel="stylesheet" href="/stylesheets/skills.css">
</head>
<body>
    <h1 style="font-family:Georgia, 'Times New Roman', Times, serif ; letter-spacing: 0.2vw;; text-align: center; font-weight: bolder; font-size:3.5vw; color: rgb(255, 255, 255); text-shadow: 0px 15px 10px #020202;">SKILLS</h1>
    <div class="gallery">
        <div class="gallery-content">
          <div class="galpic" data-title="Abstract Emotions" data-artist="Artist #1"><img width="200px" height="200px" src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" alt="Abstract Emotions"></div>
          <div class="galpic" data-title="Digital Dreams" data-artist="Artist #2"><img width="200px" height="200px" src="https://img.icons8.com/color/240/python--v1.png" alt="python--v1"></div>
          <div class="galpic" data-title="Synthetic Reality" data-artist="Artist #3"><img width="200px" height="200px" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="Synthetic Reality"></div>
          <div class="galpic" data-title="Synthetic Reality" data-artist="Artist #3"><img width="200px" height="200px" src="https://img.icons8.com/color/240/bootstrap--v2.png" alt="bootstrap--v2"></div>
          <div class="galpic" data-title="TVZoom" data-artist="Artist #4"><img  width="200px" height="200px" src="https://img.icons8.com/color/240/mysql-logo.png" alt="mysql-logo"></div>
          <div class="galpic" data-title="TVZoom2" data-artist="Artist #5"><img  width="200px" height="200px" src="https://img.icons8.com/officexs/480/react.png" alt="react"></div>
          <div class="galpic" data-title="TVZoom3" data-artist="Artist #6"><img width="200px" height="200px" src="https://img.icons8.com/fluency/240/node-js.png" alt="node-js"></div>
          <div class="galpic" data-title="TVZoom4" data-artist="Artist #7"><img width="200px" height="200px" src="https://img.icons8.com/ios/250/express-js.png" alt="express-js"></div>
          <div class="galpic" data-title="TVZoom4" data-artist="Artist #8"><img width="200px" height="200px" src="https://upload.wikimedia.org/wikipedia/commons/9/93/MongoDB_Logo.svg" alt="mongo-db"></div>
        </div>        
    </div>

</body>
<%- include('../components/footer'); -%>
</html>