<footer>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <ul class="f">
        <li><a class="foot" href="home">HOME</a></li>
        <li><a class="foot" href="projects">PROJECTS</a></li>
        <li><a class="foot" href="skills">SKILLS</a></li>
        <li><a class="foot" href="extra">EXRTACURRICULAR</a></li>
        <li><a class="foot" href="contact">CONTACT</a></li>
    </ul>
</footer>

